@page "/forgetPassword"
@model StudentAttandance.Pages.Public.ForgetPasswordModel
@{
}
<div class="border border-light border-3 rounded-3 mx-auto" style="width: 50%; margin: 2% 0; padding: 2%;">
    <div class="d-flex justify-content-between align-items-center">
        <a asp-page="login" class="text-decoration-none">Back</a>
    </div>
    <h1 class="text-center" style="padding: 0 0 3% 0;">Forgot Password</h1>
    <form method="post">
        <div class="form-outline mb-4">
            <label for="Email"></label>
            <input type="Email" name="Email" class="form-control form-control-lg" placeholder="Enter Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary btn-lg"
                    style="width: 100%;">
                Send
            </button>
        </div>
    </form>
</div>
