@page
@model StudentAttandance.Pages.ForgetPasswordModel
@{
}
<div class="border border-light border-3 rounded-3 mx-auto" style="width: 50%; margin: 2% 0; padding: 2%;">
    <div class="d-flex justify-content-between align-items-center">
        <a asp-page="Login" class="text-decoration-none">Back</a>
    </div>
    <h1 class="text-center" style="padding: 0 0 3% 0;">Forgot Password</h1>
    <div id="alert" class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
    <form action="" method="post">
        <div class="form-outline mb-4">
            <label for="email"></label>
            <input type="email" name="email" class="form-control form-control-lg" placeholder="Enter Email" />
        </div>
        <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary btn-lg"
                    style="width: 100%;">
                Send
            </button>
        </div>
    </form>
</div>