@page "/changePassword"
@model StudentAttandance.Pages.User.ChangePasswordModel
@{
}
<div class="row bg-light p-3">
    <div class="col-md-4 d-flex justify-content-start">
        <h6><a class="text-decoration-none" href="/home">Home</a><span> | Change Password</span></h6>
    </div>
    <div class="col-md-8 d-flex justify-content-end">
        <a class="text-decoration-none" href="/profile">
            <span class="btn btn-success text-light p-1 rounded-2">datnthe153704</span>
        </a> &nbsp;|&nbsp;
        <a class="text-decoration-none" href="/login">
            <span class="btn btn-success text-light p-1 rounded-2">logout</span>
        </a> &nbsp;|&nbsp;
        <a class="text-decoration-none">
            <span class="btn btn-success text-light p-1 rounded-2">
                CAMPUS:
                FPTU-Hòa Lạc
            </span>
        </a>
    </div>
</div>
@if (ViewData["Message"] != null)
{
  <div id="alert" class="alert alert-danger" role="alert">
   @ViewData["Message"]
                </div>
}
<form method="post">
    <h3 class="fw-normal p-3 my-3">Change Password</h3>
    <table class="table">
        <tbody class="mx-2">
            <tr>
                <td class="fw-bold">Old Password</td>
                <td class="fw-normal">
                    <input type="password" name="OldPassword" class="form-control form-control-md"
                           placeholder="Enter Old Password" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td class="fw-bold">New Password</td>
                <td class="fw-normal">
                    <input type="password" name="NewPassword" class="form-control form-control-md"
                           placeholder="Enter New Password" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td class="fw-bold">Confirm Password</td>
                <td class="fw-normal">
                    <input type="password" name="ConfirmPassword" class="form-control form-control-md"
                           placeholder="Confirm Password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </tr>
        </tbody>
    </table>
    <div class="text-center text-lg-start mt-4 pt-2">
        <button type="submit" class="btn btn-primary btn-lg" style="width: 100%;">Save</button>
    </div>
</form>