@page "/profile"
@model StudentAttandance.Pages.User.ProfileModel
@{
}
<div class="row bg-light p-3">
    <div class="col-md-4 d-flex justify-content-start">
        <h6><a class="text-decoration-none" href="">Home</a><span> | User Profile</span></h6>
    </div>
    <div class="col-md-8 d-flex justify-content-end">
        <a class="text-decoration-none" href="#">
            <span class="btn btn-success text-light p-1 rounded-2">datnthe153704</span>
        </a> &nbsp;|&nbsp;
        <a class="text-decoration-none" href="#">
            <span class="btn btn-success text-light p-1 rounded-2">logout</span>
        </a> &nbsp;|&nbsp;
        <a class="text-decoration-none">
            <span class="btn btn-success text-light p-1 rounded-2">
                CAMPUS:
                FPTU-Hòa Lạc
            </span>
        </a>
    </div>
</div>
<h3 class="fw-normal p-3 my-3">User Detail</h3>
<table class="table">
    <tbody class="mx-2">
        <tr>
            <td class="fw-bold">Full Name</td>
            <td class="fw-normal">Nguyen Tien Dat</td>
        </tr>
        <tr>
            <td class="fw-bold">Roll Number</td>
            <td class="fw-normal">HE153704</td>
        </tr>
        <tr>
            <td class="fw-bold">Image</td>
            <td class="fw-normal">
                <img src="images/logo/Logo_Đại_học_FPT.png" alt="Image" width="120px"
                     height="150px" style="border: 1px solid black;">
            </td>
        </tr>
        <tr>
            <td class="fw-bold">Gender</td>
            <td class="fw-normal">Male</td>
        </tr>
        <tr>
            <td class="fw-bold">Login</td>
            <td class="fw-normal">DatNTHE153704</td>
        </tr>
        <tr>
            <td class="fw-bold">Email</td>
            <td class="fw-normal">DatNTHE153704@fpt.edu.vn</td>
        </tr>
        <tr>
            <td class="fw-bold">Password</td>
            <td class="fw-normal">
                <div class="my-3">
                    <a class="btn-change-password text-decoration-none text-center text-light
                        border border-light border-3" href="#">Change Password</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="my-5">
</div>